<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body style="font-family: 'TT Norms Pro', 'sans-serif'; padding: 0; margin: 0;">
	<div class="box" style="border-bottom: solid; border-width: 1.8px; border-color: hsla(0, 0%, 59.2%, 0.2);">

	</div>
	<div class="box center-container"
		style="text-align: center; border-bottom: solid; border-width: 1.8px; border-color: hsla(0, 0%, 59.2%, 0.2);">
		<h1 id="title" style="font-size: 36px; margin-top: 57px; font-weight: 500; color: HSL(0, 0%, 0%);">{{title}}</h1>
		<h1 class="subtitle" id="subtitle"
			style="font-size: 22px; margin-top: 18px; color: hsla(0, 0%, 0%, 0.8); opacity: 0.8; font-weight: 400;">
			{{subtitle}}
		</h1>
		<a href="{{link}}">
			<div id="button"
				style="padding-top: 20px; padding-bottom: 20px; background-color: RGB(125, 171, 180); width: 350px; margin: 20px auto; border-radius: 10px;">
				<span style="font-weight: 700; color: hsl(177, 100%, 0%);">{{cta}}
				</span>
			</div>
		</a>
		<div>
			<hr width="15%"
				style="margin-top: 0; margin-bottom: 0; border: 1.8px solid RGB(151, 151, 151, 0.2); color: RGB(151, 151, 151, 0.2); background-color: RGB(151, 151, 151, 0.2);">
		</div>
		<h3 id="tag-two" class="subtitle" style="font-size: 22px; margin-top: 36px; font-weight: 400;">
			Jika mengalami masalah, <span style="font-weight: 700; color: hsl(190, 26.8%, 59.8%);">Hubungi Kami</span>
		</h3>
	</div>
	<div class="box"
		style="border-bottom: solid; border-width: 1.8px; border-color: hsla(0, 0%, 59.2%, 0.2); text-align: center;">
		<p id="footer"
			style="font-size: 18px; color: hsla(0, 0%, 0%, 0.5); margin-top: 55px; margin-bottom: 55px; font-weight: 400;">
			&copy;2022 Kepolisian Negara Republik Indonesia</p>
	</div>
</body>

</html>